body {

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-family: sans-serif;
}

table,th,td {

border: 1px solid black;
padding: 5px;
border-collapse: collapse;
}

table {
 margin-top: 10px;  
}

loadform>* {

  margin-top: 10px;  
}

body {

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
font-family: sans-serif;
}

hr {width: 90%;}
